name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Update git submodules
      run: git submodule update --init

    - name: Install dependencies
      run: sudo apt update && sudo apt install --yes libfmt-dev libgflags-dev libgtest-dev build-essential cmake ninja-build

    - name: Build
      run: |
        mkdir -p build && cd build
        cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=1 ..
        cmake --build .

  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Update git submodules
      run: git submodule update --init

    - name: Install dependencies
      run: |
        vcpkg install --triplet x64-windows fmt gflags gtest

    - name: Build
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_TOOLCHAIN_FILE=C:\Vcpkg\scripts\buildsystems\vcpkg.cmake ..
        cmake --build .
