name: Node.js Package

on:
  workflow_dispatch:

  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          registry-url: "https://npm.pkg.github.com"
          scope: "@robertoraggi"

      - name: Build
        working-directory: packages/cxx-frontend
        run: |
          sed -i 's,"cxx-frontend","@robertoraggi/cxx",' package.json
          sed -i 's,"cxx-frontend","@robertoraggi/cxx",' ../../README.md
          npm ci
          npm run build

      - name: Publish
        working-directory: packages/cxx-frontend
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
